*.psd filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text

# Auto detect text files and perform LF normalization
* text=auto

Content/FPWeapon/** filter=lfs diff=lfs merge=lfs -text

Content/LevelPrototyping/** filter=lfs diff=lfs merge=lfs -text

Content/StarterContent/** filter=lfs diff=lfs merge=lfs -text

Content/VRSpectator/** filter=lfs diff=lfs merge=lfs -text

Content/VRTemplate/** filter=lfs diff=lfs merge=lfs -text

Content/STF/** filter=lfs diff=lfs merge=lfs -text

Content/CozyNature/** filter=lfs diff=lfs merge=lfs -text

Content/RocksPackDEMO/** filter=lfs diff=lfs merge=lfs -text

Content/Light_Foliage/** filter=lfs diff=lfs merge=lfs -text

Content/Advanced_Auto_Material/** filter=lfs diff=lfs merge=lfs -text